html     
    head 
        style 
            include ../public/css/site.css
        title Simple spa for get data
    body 
        div(class="content-form")
            input(type="button", id="btnLogin", value="Login") 
            input(type="button", id="btnLogout", value="Logout") 
            input(type="button", id="btnGetData", value="Get data") 
        div(id="content")              
        script(src="https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js")        
        script 
            include ../public/js/site.js 